* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "GotchaStandup";
  src: url("GotchaStandup.woff2") format("woff2");
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
p {
  color: #ffffff;
}
h1 {
  /* font-weight: 800; */
  font-size: 48px;
  margin-top: 0px;
  color: #000000;
}

.p60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* button */
.custom_button {
  padding: 8px 14px 8px 14px;
  border-radius: 38px;
  font-size: 14px;
  color: #111112;
  transition: 0.2s ease all;
  display: inline-block;
  border: none;
  border: 1px solid #ffee00;
  background-color: #ffee00;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  text-transform: capitalize;
}
.custom_button:hover {
  color: #ffffff;
  background-color: #436986;
  /* border-bottom: none; */
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

header {
  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  min-width: 400px;
  /* border: 1px solid black; */
  padding: 10px 50px;
}
.header_main {
  height: 100%;
}

.header_top {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right {
  height: 100%;
}
.header_top .hdt_in ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hdt_in ul li {
  margin-right: 30px;
}
.hdt_in ul li a,
.hdt_in p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #363636;
  transition: 0.2s ease all;
  margin-bottom: 0;
}
.hdt_in p a {
  transition: 0.2s ease all;
  color: #363636;
}

.right ul li a:hover {
  color: #436986;
}
.left ul li a::after {
  border: none;
  height: 0;
}
ul li a {
  width: 100%;
  position: relative;
}
ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: 0;
  background: #436986;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
ul li a:hover::after {
  transform: scale(1, 1);
}

.hamburger {
  display: none;
  /* border:1px solid red; */
  font-size: 25px;
}
.hamburger:hover {
  cursor: pointer;
}

.dropdown {
  background-color: #436986;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: -100%;
  z-index: 999;
  transition: 0.5s ease all;
}
.dropdown ul {
  /* border:1px solid white; */
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 65px;
  margin-top: 20px;
}
.dropdown ul li a {
  color: #ffffff;
  width: 100%;
  position: relative;
}
.dropdown ul li a:hover {
  /* border-bottom: 1px solid #ffee00; */
  color: #ffee00;
}
.dropdown ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background: #ffee00;
}
.dropdown ul li button:hover {
  color: #ffee00;
}

/* Banner Section  */
.banner_section {
  width: 100%;
  /* border:1px solid red; */
  position: relative;
}
.banner_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 53%;
}
.banner_img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.banner_inner1 {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}
.banner_inner1_text p {
  margin-bottom: 0;
}
.banner_inner1_text .para1 {
  color: #1d72dd;
  font-size: 60px;
  font-family: "GotchaStandup";
}
.banner_inner1_text .para2 {
  color: #303030;
  font-size: 40px;
}
.banner_inner1_text .para3 {
  color: #303030;
  font-size: 24px;
}
.banner_inner1_text .para4 {
  color: #3875e6;
  font-size: 16px;
}
.banner1_btn {
  border-radius: 24px;
  border: 0.5px solid #aeaeae;
  width: 65%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.banner1_btn input,
.banner1_btn button {
  border: none;
  outline: none;
}
.banner1_btn input {
  margin-left: 15px;
}
.banner1_btn button {
  height: 32px;
  width: 120px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #ffee00;
  padding: auto 20px;
}
.banner1_btn button:hover {
  background-color: #436986;
  color: #ffffff;
}

.banner_bottom {
  width: 100%;
  padding: 25px 50px;
  background-color: #436986;
  display: flex;
  align-items: center;
}
.banner_inner2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_inner2_para {
  height: 100%;
  display: flex;
  align-items: center;
}
.banner_inner2_para p {
  margin: 0px;
  font-size: 30px;
  color: #fff;
}
.banner_inner2_btn {
  height: 100%;
  display: flex;
  align-items: center;
}
.banner2_btn:hover {
  background-color: #436986;
  color: #fff;
}

/* banner section ends */

/* Tharepist Section */

.sec_tharepist_inner {
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px;
}
.tharepist_para1 {
  font-size: 30px;
  color: #111112;
  font-weight: 600;
  margin: 0px;
}
.tharepist_para2 {
  color: #111112;
  font-size: 16px;
  margin: 0px;
}

/* Tharepist section end */

/* People Section Start */

.people {
  position: relative;
  width: 100%;
  background-color: #436986;
  padding: 70px 0px 105px 0px;
}
.people::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.people1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 180px;
}
.people_item {
  text-align: center;
}
.people_item h2 {
  color: #ffee00;
}
.people2 {
  /* border: 1px solid red; */
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.people2_item1 {
  width: 47%;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 15px;
}
.people_con_img1 {
  /* border: 1px solid red; */
}
.people_con_img1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}
.people_con_img2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
}
.people_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}
.people_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.people_img2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}
.people_img2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.people2_item2 {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.people_heading {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}
.people_btn {
  margin-top: 1.5rem;
  background-color: #436986;
  color: #ffffff;
  border: 1px solid #ffee00;
}
.people_btn:hover {
  background-color: #ffee00;
  color: #111112;
}

.people_bottom_img {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  left: 46%;
  box-shadow: 3px 8px 20px rgba(82, 81, 81, 0.7);
}

/*people section ends  */

/* Tharepy Section Start */

.tharepy_section {
  padding: 50px 70px;
}
.tharepy_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tharepy_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.tharepy_inner_item {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}
.tharepy_inner_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.tharepy_main p {
  color: #111112;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tharepy_btn {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

/* Tharepy section ends */

/* carousel section start */

.carousel {
  background-color: #436986;
  width: 100%;
}
.carousel_main {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 0px;
}
.carousel_main .top_img{
  top:-25px;
}
.carousel_inner {
  width: 45%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
}
.carousel_inner .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid red; */
}
.carousel_heading {
  margin-bottom: 1.5rem;
  color: #fff;
}
.carousel_btn {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  padding: 0px 70px;
}
.carousel_btn .prev_btn .btn1,
.next_btn .btn1 {
  outline: none;
  border: none;
  background-color: #436986;
  color: #ffee00;
  font-size: 35px;
  cursor: pointer;
}
.owl-theme .owl-dots .owl-dot.active span{
  background:#ffee00 ;
  outline: none;
}
.owl-theme .owl-dots .owl-dot{
  border: none;
  outline: none;
}

/* carousel section ends */

.other_section {
  height: 5000px;
}

/* Footer */
footer {
  background-color: #436986;
}
.footer_main {
  position: relative;
  padding-bottom: 5px;
}
.footer1 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: relative;
  top: -45px;
  z-index: 99other_section;
}
.footer_text1 {
  width: 50%;
}
.footer_text1 .footer1_para1 {
  text-transform: uppercase;
  color: #436986;
  font-size: 24px;
  margin: 0px;
  font-weight: 700;
}
.footer_text1 .footer1_para2 {
  font-size: 18px;
  color: #000000;
  margin: 0px;
}
.footer1_btn {
  border-radius: 24px;
  border: 0.5px solid #aeaeae;
  width: 40%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.footer1_btn input,
.footer1_btn button {
  border: none;
  outline: none;
}
.footer1_btn input {
  margin-left: 15px;
}
.footer1_btn button {
  height: 32px;
  width: 120px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #ffee00;
  padding: auto 20px;
}
.footer1_btn button:hover {
  background-color: #436986;
  color: #ffffff;
}
.footer_inner1 {
  /* border: 1px solid red; */
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  width: 15%;
  /* border: 1px solid white; */
}
.footer_logo img {
  width: 100%;
}
.footer_item {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: 68%;
}
.footer_item .footer_item_list h6 {
  color: #ffee00;
  font-weight: 600;
  font-size: 20px;
}
.footer_item_list {
  width: 100%;
}
.footer_item_list ul {
  width: 100%;
}
.footer_item .footer_item_list ul li a {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.5s ease all;
  width: 100%;
}
.footer_item .footer_item_list ul li a:hover {
  color: #ffee00;
}
.footer_item .footer_item_list ul li a::after {
  background: #ffee00;
}

.footer_text {
  margin-top: 55px;
  border-bottom: 1px solid #fff;
}

.footer_text p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
.footer_social_icon {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.footer_social_icon p {
  font-size: 16px;
  margin: 0px;
}
.icon_main {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_main p {
  margin: 0px;
}
.social_icon {
  width: 51%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social_icon .social_icon_item {
  height: 17px;
}
.social_icon .social_icon_item img {
  height: 100%;
  transition: 0.5s ease all;
}
.social_icon .social_icon_item img:hover {
  transform: scale(1.5);
}
.hr {
  border: 0.5px solid #fff;
}

/* media Quaries */

@media screen and (max-width: 992px) {
  .right ul li {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
  .banner_bottom {
    padding: 25px 0px;
  }
  .banner_inner2 {
    flex-direction: column;
  }
  .banner_inner2_btn {
    width: 100%;
    margin-top: 20px;
  }

  .sec_tharepist_inner {
    padding: 70px 15px;
    text-align: start;
  }
  .people1 {
    grid-column-gap: 0;
  }
  .people2 {
    flex-direction: column;
  }
  .people2_item1 {
    width: 100%;
  }
  .people2_item2 {
    width: 100%;
    margin-top: 50px;
  }

  .footer_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
  }
  .footer1_btn {
    width: 45%;
  }
  .icon_main {
    width: 32%;
  }
}

@media screen and (max-width: 768px) {
  .tharepy_inner {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
.carousel_inner {
  width: 70%;
}
.carousel_btn{
  padding: 0px 15px;
}
  .footer_item {
    width: 60%;
  }
  .footer1 {
    flex-direction: column;
    align-items: center;
  }
  .footer_text1 {
    width: 100%;
    text-align: center;
  }
  .footer1_btn {
    width: 63%;
    margin-top: 25px;
  }

  .footer_logo {
    width: 28%;
  }
  .icon_main {
    flex-direction: column;
  }
  .social_icon {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .tharepy_section {
    padding: 50px 15px;
  }
}

@media screen and (max-width: 550px) {
  .footer1_btn {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .footer1_btn {
    width: 100%;
  }
  .footer_inner1 {
    flex-direction: column;
  }
  .footer_logo {
    width: 40%;
  }
  .footer_item {
    width: 100%;
    margin-top: 30px;
  }
  .footer_social_icon {
    flex-direction: column;
  }
  .icon_main {
    flex-direction: row;
    width: 100%;
  }
}
